.result {
    position: absolute;

    top: 110%;
    left: 0;
    background-color: #eee;
    max-height: 377px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Formatting result items */
.result p {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result h5 {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover {
    background: #f6f4f4;
    color: purple;
}
/* responsive design  */
@media (max-width:850px) {
    .search-box input[type="text"], .result{
        width: 90%;
        margin-left: 10%;
    }
}
