*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all ease 0.3s;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#msg {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1px;
  background: #34c539;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
}

#regForm {
  background-color: #fff;
  font-family: Raleway;
  padding: 40px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

h1 {
  margin-bottom: 8px;
  font-weight: 500;
}

input {
  margin: 0 0 16px 0;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
  position: relative;
  width: 100%;
}

.tab h3{
  margin: 16px 0;
  font-weight: 400;
}

.btns{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btns button{
  width: 46%;
}

button {
  border: none;
  background: #7b38d8;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 8px 0;
}

button:hover {
  background: #6d1edc;
}

#prevBtn {
  background-color: #9c66e8;
}

/* this is for phone number code  */
.result {
  position: relative;
  top: 10%;
  left: 0;
  max-height: 377px;
  width: 100%;
}
/* Formatting result items */
.result p {
  margin: 0;
  padding: 7px 10px;
  border-top: none;
}


@media only screen and (max-width: 600px){
  #regForm{
    background: transparent;
    width: 100%;
  }
}