* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    border: none;
    transition: all ease 0.2s;
}

img {
    width: 100%;
}

input,
button {
    outline: none;
}

.btn {
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin: auto;
    padding: auto;
}
/* =======================Nav Section======================= */

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.navbar {
    width: 100%;
    padding: 1rem 10%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ============================Logo==================== */

.logo {
    font-size: 36px;
}

/* ======================Menu================ */

.navbar .menu {
    display: flex;
    flex-wrap: nowrap;
    background: #fff;
    color: #000;
    position: relative;
    border-radius: 50vmin;
}

.navbar .menu .btn {
    padding: 10px 16px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .space{
    height: 12px;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
}

.navbar .menu:hover > .menu-list{
    top: 56px;
    opacity: 1;
}

.navbar .menu .btn svg {
    display: inline-block;
    height: 18px;
    margin: auto;
}

.menu .menu-list {
    border: 1px solid #fff;
    position: absolute;
    top: -100px;
    right: 0;
    background: #000;
    color: #fff;
    padding: 16px 32px;
    border-radius: 16px;
    opacity: 0;
}

.menu .menu-list ul {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    list-style: none;
    cursor: default;
}

.menu .menu-list ul li {
    display: inline-block;
    margin: 8px 0;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.menu .menu-list ul li:hover {
    color: #ccc;
}

/* ===============================Search Button==================== */

.navbar .search-btn svg {
    fill: #000;
    height: 30px;
    width: 30px;
    padding: 0.4rem;
    border-radius: 50%;
    background: #fff;
}


.navbar .search-btn .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .search-btn span {
    font-size: 1.5rem;
}

.navbar .search-btn span,
.navbar .menu .btn span
{
    margin-left: 1rem;
}

@media screen and (max-width: 500px){
    .navbar .search-btn span{
        display: none;
    }

    .navbar .menu .btn span{
        display: none; 
    }
}

/* ==================Account Page=============== */
section {
    padding: 2rem 10%;
    background: #eee;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
}

.account-options{
    display: flex;
    flex-direction: column;
}

/* @media screen and (max-width: 900px){
    .account-options{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    .account-options{
        grid-template-columns: 1fr;
    }
} */

.account-options .option{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    max-width: 400px;
}

.account-options .option span{
    display: block;
}

/* Changes CSS */

.option span:first-child{
    font-size: 1.3rem;
    font-weight: 600;
}

.option span:nth-child(2){
    margin-top: 0.4rem;
}

/* Changes CSS */


/* ================Footer============== */

footer {
    background: #000;
    width: 100%;
    padding: 2rem 10%;
    color: #fff;
}

.logo-white {
    font-size: 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (min-width: 800px) {
    .footer-content {
        grid-template-columns: 1fr 1fr;
    }
}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
    padding: 1rem;
}

footer .social svg {
    height: 30px;
    width: 30px;
    fill: #fff;
    margin: 0 0.5rem;
}

footer .copyright {
    text-align: center;
}
