* {
    margin: 0%;
    box-sizing: border-box;
}
.image_container{
    background-color: #f2f2f2;
    padding: 0px 4px 0px 4px;
}
.image_container h3{
    padding-left: 4px;
    padding-bottom: 10px;
    color: rgb(185, 68, 14);
}
.form_top1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f2f2f2;
}

.form_top_box {
    width: 45%;
    height: auto;
}
  
  input[type=text], select, textarea, input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/* image design start here  */
.bg {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-image: url(Placeholder.jpg);
    background-size: cover;
    border-radius: 12px;
}

.bg img {
    border-radius: 12px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.upload_box {
    margin: 5px;
}

.upload_image {
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    color: rgb(171, 168, 168);
}

.upload_main_div {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(171, 168, 168);
    border-radius: 12px;
    padding-bottom: 15px;
    justify-content: space-around;
}

@media (min-width:450px) {
    .bg {
        height: 200px;
        width: 200px;
    }

    .bg img {
        width: 200px;
        height: 200px;
    }
}


@media (max-width:750px) {
    .form_top_box {
        width: 90%;
    }
}
.submit{
    height: 40px;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}
.submit input{
 height: 100%;   
 width: 100%;
 background-color: purple;
 color: white;
 border: none;
 border-radius: 8px;
}
.gap{
    height: 80px;
    background-color: #f2f2f2;
}

.upload_nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  border: 3px solid purple;
  width: 100%;
  align-items: center;
}
#confirm_btn{
  padding: 4px 4px 4px 4px;
  margin: 4px;
  border: 3px solid red;
  border-radius: 8px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}
#cancle_btn{
  padding: 4px 4px 4px 4px;
  margin: 4px;
  border: 3px solid purple;
  border-radius: 8px;
  color: purple;
  font-weight: 600;
  cursor: pointer;
}