* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    border: none;
    transition: all ease 0.2s;
}

a{
    color: inherit;
    text-decoration: none;
}